numpy~=2.2.4
pandas~=2.2.3
python-dotenv~=1.1.0
lseg-data~=2.1.0
openpyxl~=3.2.0b1
statsmodels~=0.14.4
DatastreamPy~=2.0.30
matplotlib~=3.10.3
seaborn~=0.13.2
scipy~=1.15.2
plotly~=6.2.0
kaleido~=1.0.0
xlsxwriter~=3.2.5
